.category-page{
 background:burlywood;
 padding: 10px;
 flex: 1;   
  display: flex;
  flex-direction: column;
}
.category-page h1 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 700;
  
}
.no{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-top: 70px;
    color: brown;
}